body {
    background-size: 50%;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
    box-sizing: border-box;
}

.selectable {
    -webkit-touch-callout: default;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.container {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.frame, .frameOverlay, .control, .startMenu, .effects {
    top: 0;
    left: 0;
    position: absolute;
}

.dialog, .dialogBackground {
    position: absolute;
    top: -100%;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.dialogBackground {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: all 0.5s ease-in-out;
}

.dialog.on, .dialogBackground.on {
    top: 0 !important;
    left: 0 !important;
    transition: top 0.5s ease-in-out;
    background-color: rgba(0,0,0,0.1);

}

.dialogBackground.on {
    top: 0 !important;
    left: 0 !important;
    transition: top 0.5s ease-in-out;
    background-color: rgba(0,0,0, 0.2);
}

.startMenu {
    top: 0 ;
    left: 0 ;
    transition: top 0.5s ease-in-out;
}
.startMenu.off {
    transition: top 0.5s ease-in-out;
    top: -100% !important;
    left: 0;
}

.fps {
    z-index:9999;
    position:absolute;
    bottom:2px;
    right:calc(100% /2 - 25px);
    background-color:rgba(0,0,0,0.8);
    border-radius:15px;
    padding:4px;
    min-width:50px;
    text-align:center;
    font-family: -apple-system;
    color:white;
    font-size:12px;
}